[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std


[submodule ".deps/npm/openzeppelin/contracts"]
	path = .deps/npm/openzeppelin/contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts

